<!doctype html>

<html lang="en">
<head>
  <!-- internal css -->
  <!-- <link rel="stylesheet" href="css/styles.css?v=1.0"> -->
  <link rel="stylesheet" href="/styles/searchPage.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <link rel="stylesheet" href="/styles/products.css" type="text/css" />
  <!-- internal js -->

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>



  <!-- external css -->

  <!-- external js -->

</head>

<body>
    <% if (userObject) { %>
    <%-include('partials/_navbarSignedIn') %>
    <% } else { %>
    <%- include('partials/_navbar') %>
    <% } %>

  <div class ="search-bar">
  <form action="/search/searchByCity" method="GET" id="search-form" class="search-form">
    <div class="search-form-box">
      <label for="search-form-box">Lets see whats to drink in your city!</label>
      <input type="text" name="city" placeholder="City" id="search-city">
    </div>

    <div class="search-form">
        <button type="submit">Search</button>
    </div>
  </form>
</div>
<div>
  <form action="/search/lowToHigh" method="GET">
    <label for="Filter by Price: low > high">Filter by Price: Low -> High</label>
    <input type="hidden" name="city" placeholder="City" id="search-city" value="<%= city %>">
    <button type="submit">Filter</button>
  </form>
</div>
<div>
  <form action="/search/highToLow" method="GET">
    <label for="Filter by Price: low > high">Filter by Price: High -> Low</label>
    <input type="hidden" name="city" placeholder="City" id="search-city" value="<%= city %>">
    <button type="submit">Filter</button>
  </form>
</div>


<main class="all-products">
  <div class="products">

  <% for (const item of items) { %>
    <div class="featured-items">
      <p class="prod-name"> <%= item.vendor %> </p>
      <a class="item-title" id="sell" href='/product/:<%=item.name%>&itemId:<%=item.id%>'> <%=item.name%></a>
      <img class="product-image" alt="photo of releative item" src=<%= item.image %>>
      <p> <%= item.category %> </p>
      <p><%= item.price %> </p>
      <button id="more-info"> <a href='/product/:<%=item.name%>&itemId:<%=item.id%>'>More about this item</a></button>

      <form method="POST" action="/favourites/add">
        <input class="add-fav" type="submit" value="Add To Favourites" name="<%= item.id%>"/>
    </form>

    </div>

  <% } %>

</div>

</main>














  <!-- your content here... -->

<div id="above-footer">
</div>
    <%- include('partials/_footer'); %>


</body>


</html>
