<!doctype html>

<html lang="en">
<head>
  <!-- internal css -->
  <link rel="stylesheet" href="/styles/messages.css" type="text/css" />

  <!-- internal js -->
  <!-- <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script> -->

  <!-- external css -->

  <!-- external js -->

</head>

<body>
  <%- include('partials/_navbar') %>

  <% if (!userEmail) { %>
    <%- include('partials/_error') %>
  <% } else { %>

    <h1>My Messages</h1>

    <section class="message-page">
      <% for (const convo of arrayofConvos) { %>
        <div class="convo-title">
          CONVERATION WITH: <%= convo[0].name %>
        </div>

        <div class="convos">


        <% for (let i = 0; i < convo.length; i++) { %>

          <% if (convo[i].is_vendor === isVendor) { %>

            <div>
              <p>User: <%= convo[i].message %> </p>
            </div>

          <% } else { %>

            <div>
              <p>Vendor: <%= convo[i].message %> </p>
            </div>

          <% } %>

        <% } %>
        </div>

        <form class="send-message" action="/messages/<%= userID %>" method="POST">
          <input type="hidden" value="<%= convo.vendor_id %>" name="vendor_id"/>
          <textarea name="text" placeholder="Type message here..."></textarea>
          <button type="submit">Send</button>
        </form>


      <% } %>

    </section>

  <% } %>


  <%- include('partials/_footer'); %>



</body>
</html>
