<!doctype html>

<html lang="en">
<head>
  <!-- internal css -->
  <link rel="stylesheet" href="/styles/messages.css" type="text/css" />

  <!-- internal js -->
  <!-- <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script> -->

  <!-- external css -->

  <!-- external js -->

</head>

<body>
  <%- include('partials/_navbar') %>

  <% if (!userEmail) { %>
  <%- include('partials/_error') %>
  <% } else { %>

    <h1>My Messages</h1>
    <!-- your content here... -->

    <% for (let message of messages) { %>

    <div class="message-page">


      <div class="sidebar">
        <p>Conversation with:</p>
        <a href='#'><%= message.name %></a>
        <p>Vendor ID:</p>
        <%= message.vendor_id %>
      </div>

      <div class="convos">
        <p><%= message.message %></p>
        <% if (message.vendor_id == reply.vendor_id) { %>
        <div>
          <%= reply.text %>
        </div>
        <% } %>

        <form class="send-message" action="/messages/<%= userID %>" method="POST">
          <input type="hidden" value="<%= message.vendor_id %>" name="vendor_id"/>
          <textarea name="text" placeholder="Type message here..."></textarea>
          <button type="submit">Send</button>
        </form>

      </div>

      <!-- </tr> -->

    </div>
    <% } %>

  <% } %>

  <section>

    <div>
      <p>YOU: </p>
      <p>%JS for what you said%</p>
    </div>
    <div>
      <p>NOT YOU: </p>
      <p>%JS for what they said%</p>
    </div>

  </section>

  <%- include('partials/_footer'); %>

</body>
</html>
