<!doctype html>

<html lang="en">
<head>
  <!-- internal css -->
  <!-- <link rel="stylesheet" href="css/styles.css?v=1.0"> -->
  <link rel="stylesheet" href="/styles/searchPage.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <link rel="stylesheet" href="/styles/products.css" type="text/css" />
  <link rel="stylesheet" href="/styles/each_item.css" type="text/css" />
  

  <!-- internal js -->

  <!-- external css -->

  <!-- external js -->

</head>

<% if (userObject) { %>
  <%- include('partials/_navbarSignedIn') %>
  <% } else { %>
  <%- include('partials/_navbar') %>
  <% } %>
<body>
  <% if (userObject.vendor) { %>
    <h2>I'm a vendor</h2>
    <section class="item-management" id="item-management">
      <h4>Item Management</h4>

          <% if (items[0].featured) { %>

            <br>
            <h5>This is currently a Featured item</h5>

              <form method="POST" action="/product/featured_status/off">
                <button type="submit" name="<%= items[0].id %>" class="btn">Remove From Featured Items</button>
              </form>
              <br>

          <% } else { %>
            
            <h5>This is not Featured item</h5>

            <form method="POST" action="/product/featured_status/on">
              <button type="submit" name="<%= items[0].id %>" class="btn">Add to Featured Items</button>
            </form>
            <br>

          <% } %>


          <% if (userObject.id === items[0].vendor_id) { %>
            <% if (items[0].sold) { %>

              <h5>This item is currently sold out</h5>

              <form method="POST" action="/product/item_sale_status">
                <button type="submit" name="<%= items[0].id %>" class="btn">Re-list Item</button>
              </form>
              <br>

            <% } else { %>

              <h5>This item is currently for sale</h5>
              
              <form method="POST" action="/product/delete_item">
                <button type="submit" name="<%= items[0].id %>" class="btn">De-list Item</button>
              </form>

            <% } %>


            <h5>Delete this item</h5>

            <form method="POST" action="/product/delete_item">
              <button type="submit" name="<%= items[0].id %>" class="btn danger">Delete Item</button>
            </form>




          <% } %>



    </section>

  <% } %>
  
  <main class="all-products">
    <div class="products">


  <% for (const item of items) { %>
    <div class="featured-items">
      <p class="prod-name"> <%= item.vendor %> </p>
      <p class="prod-name"> <%= item.name %> </p>
      <img class="product-image" src=<%= item.image %>
      <p> <%= item.category %> </p>
      <p><%= item.price %> </p>
    </div>
    
    <div class="product-description">
      <p> <%= item.description %> </p>
    </div>





  <% } %>

    </div>





  </main>




    <%- include('partials/_footer'); %>


</body>

</html>
