<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>
    <!-- internal css sheets-->
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <!-- <link rel="stylesheet" href="/styles/navbar.css" type="text/css" /> -->
    <link rel="stylesheet" href="/styles/products.css" type="text/css" />
    <!-- <link rel="stylesheet" href="/styles/footer.css" type="text/css" /> -->
    <!-- <link rel="stylesheet" href="/styles/hero.css" type="text/css" /> -->
    <!-- internal javascript-->

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>

  </head>
  <body>
    <% if (userObject) { %>
    <%-include('partials/_navbarSignedIn') %>
    <% } else { %>
    <%- include('partials/_navbar') %>
    <% } %>

    <%- include('partials/_hero') %>

    <main class="all-products">
      <div class="products">
      <% for (const product of products) { %>
        <div class="featured-items">
          <a class="nav-bar-links" id="sell" href='/product/:<%=product.name%>&itemId:<%=product.id%>'>Feature Item</a>
          <p class="prod-name"> <%= product.vendor_name %> </p>
          <a class="nav-bar-links" id="sell" href='/product/:<%=product.name%>&itemId:<%=product.id%>'><%= product.name %></a>
          <img class="product-image" src=<%= product.image %>
          <p> <%= product.category %> </p>
          <p><%= product.price %> </p>
          <button id="more-info"> <a href='/product/:<%=product.name%>&itemId:<%=product.id%>'>Tell Me More</a></button>
        </div>

      <% } %>

    </div>

    </main>

    <%- include('partials/_footer') %>

  </body>
</html>
