<!doctype html>

<html lang="en">
<head>
  <!-- internal css -->
  <!-- <link rel="stylesheet" href="css/styles.css?v=1.0"> -->
  <link rel="stylesheet" href="/styles/searchPage.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <link rel="stylesheet" href="/styles/products.css" type="text/css" />
  <link rel="stylesheet" href="/styles/favourites.css" type="text/css" />

  <!-- internal js -->

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>



  <!-- external css -->

  <!-- external js -->

</head>

<body>
    <% if (userObject) { %>
    <%-include('partials/_navbarSignedIn') %>
    <%-include('partials/_hero') %>
    <% } else { %>
    <%- include('partials/_navbar') %>
    <%-include('partials/_hero') %>
    <% } %>

    <div class="all-search">
      <div class ="search-bar">
        <form action="/search/searchByCity" method="GET" id="search-form" class="search-form">
          <div class="search-form-box">
            <label class="citysearch" for="search-form-box">Lets see whats to drink in your city!</label>
            <br>
            <input type="text" name="city" placeholder="City" id="search-city">
          </div>
            <br>
          <div class="search-form">
              <button id="searchbutton" type="submit">Search</button>
          </div>
        </form>
      </div>

      <div class="all-filters">
        <div class="filter-lowhigh">
          <form action="/search/lowToHigh" method="GET">
            <label class="citysearch" for="Filter by Price: low > high">Filter by Price: (Low to High)</label>
            <input type="hidden" name="city" placeholder="City" id="search-city" value="<%= city %>">
            <button id="lowhighbutton" type="submit">Filter</button>
          </form>
        </div>

        <div class="filter-highlow">
          <form action="/search/highToLow" method="GET">
            <label class="citysearch" for="Filter by Price: low > high">Filter by Price: (High to Low)</label>
            <input type="hidden" name="city" placeholder="City" id="search-city" value="<%= city %>">
            <button id="highlowbutton" type="submit">Filter</button>
          </form>
        </div>
      </div>

    </div>



<main class="all-products">
  <div class="products">
  <% for (const item of items) { %>
    <div class="featured-items">
      <a class="item-title" id="sell" href='/product/:<%=item.name%>&itemId:<%=item.id%>'><%= item.name %></a>
      <h3 class="prod-name"> <%= item.vendor %> </h3>
      <a class="item-title" id="sell" href='/product/:<%=item.name%>&itemId:<%=item.id%>'><%= item.name %></a>
      <img class="product-image" src=<%= item.image %>
      <p class="item-category"> <%= item.category %> </p>
      <p><%= '$' + item.price / 100 + '.00'%> </p>
      <form class="add-fav" method="GET" action="/product/:<%=item.name%>&itemId:<%=item.id%>">
        <input class="add-fav" type="submit" name="<%= item.id%>" value="More About This Item"/>
        </form>
      <form class="add-fav" method="POST" action="/favourites/add">
        <input class="add-fav" type="submit" name="<%= item.id%>" value="Add To Favourites"/>
    </form>
    </div>
  <% } %>

</div>

</main>

  <!-- your content here... -->

<div id="above-footer">
</div>
    <%- include('partials/_footer'); %>


</body>


</html>
