<!doctype html>

<html lang="en">
<head>
  <!-- internal css -->
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css">
  <link rel="stylesheet" href="/styles/messages.css" type="text/css" />


  <!-- internal js -->
  <!-- <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script> -->

  <!-- external css -->

  <!-- external js -->

</head>

<body>
  <%- include('partials/_navbarSignedIn') %>

  <% if (!userEmail) { %>
    <%- include('partials/_error') %>
  <% } else { %>

    <h1 class="title-of-page">My Messages</h1>

    <section class="message-page">

      <div class="new-message">

        <h3 id="start-new-convo">Start A New Conversation</h3>
        <form class="new-message-form" action="/messages/<%= userID %>" method="POST">
          Name:<br>
          <input type="text" name="name"><br><br>
          Message:<br>
          <input type="hidden"/>
          <textarea name="text" placeholder="Your message..."></textarea>
          <br><br>
          <button type="submit">Start Conversation</button>
        </form>

      </div>

      <div class="sent-messages">

        <% if (!isVendor) { %>

          <% for (const convo of arrayofConvos) { %>

            <div class="convo-box">

              <div class="convo-title">
                CONVERATION WITH: <%= convo[0].vendor_name %>
              </div>

              <div class="convos">

              <% for (let i = 0 ; i < convo.length; i++) { %>

                <% if (!convo[i].is_vendor) { %>

                  <div>
                    <p>User: <%= convo[i].message %> </p>
                  </div>

                <% } else { %>

                  <div>
                    <p>Vendor: <%= convo[i].message %> </p>
                  </div>

                <% } %>

              <% } %>

              </div>

              <form class="send-message" action="/messages/<%= userID %>" method="POST">
                <input type="hidden" value="<%= convo[0].vendor_id %>" name="vendor_id"/>
                <textarea class="msg" name="text" placeholder="Type message here..."></textarea>
                <button type="submit">Send</button>
              </form>

            </div>

          <% } %>

        <% } else { %>

          <% for (const convo of arrayofConvos) { %>

            <div class="convo-box">

              <div class="convo-title">
                CONVERATION WITH: <%= convo[0].user_name %>
              </div>

              <div class="convos">

                <% for (let i = 0; i < convo.length; i++) { %>

                  <% if (convo[i].is_vendor) { %>

                    <div>
                      <p>Vendor: <%= convo[i].message %> </p>
                    </div>

                  <% } else { %>

                    <div>
                      <p>User: <%= convo[i].message %> </p>
                    </div>

                  <% } %>

                <% } %>
              </div>

              <form class="send-message" action="/messages/<%= userID %>" method="POST">
                <input type="hidden" value="<%= convo[0].user_id %>" name="user_id"/>
                <textarea class="msg" name="text" placeholder="Type message here..."></textarea>
                <button type="submit">Send</button>
              </form>

            </div>

            <% } %>

        <% } %>
      </div>


    </section>

  <% } %>

  <%- include('partials/_footer'); %>



</body>
</html>
