<!doctype html>

<html lang="en">
<head>
  <!-- internal css -->
  <!-- <link rel="stylesheet" href="css/styles.css?v=1.0"> -->
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/styles/each_item.css" type="text/css" />


  <!-- internal js -->
  <!-- <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script> -->

  <!-- external css -->

  <!-- external js -->

</head>

<% if (userObject) { %>
  <%- include('partials/_navbarSignedIn') %>
  <% } else { %>
  <%- include('partials/_navbar') %>
  <% } %>
<h1>Product Information Page</h1>
<body>

  


  <% for (const item of items) { %>
    <div class="featured-items">
      <p class="prod-name"> <%= item.vendor %> </p>
      <p class="prod-name"> <%= item.name %> </p>
      <img class="product-image" src=<%= item.image %>
      <p> <%= item.category %> </p>
      <p><%= item.price %> </p>
    </div>
    

    <h4>Item Management</h4>
    <form method="POST" action="/vendors/new_item">
      <label for="featured-check">Make this a featured Item</label>
      <br>
      <input type="checkbox" id="featured_check" name="featured_check">
      <br>
    </form>
  
  
    <form method="POST" action="/product/item_sale_status/:itemId:"> 
      <label class="switch">
        <input type="checkbox">
        <span class="slider round"></span>
      </label>
    </form>
  
    <br>
  
    <form method="POST" action="/product/delete_item">
      <input type="submit" name="<%= item.id or something %>"/>
      <button class="btn danger">Delete This Item</button>
    </form>




  <% } %>













    <%- include('partials/_footer'); %>


</body>

</html>
