<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>
    <!-- internal css sheets-->
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <!-- <link rel="stylesheet" href="/styles/navbar.css" type="text/css" /> -->
    <link rel="stylesheet" href="/styles/products.css" type="text/css" />
    <!-- <link rel="stylesheet" href="/styles/footer.css" type="text/css" /> -->
    <!-- <link rel="stylesheet" href="/styles/hero.css" type="text/css" /> -->
    <!-- internal javascript-->

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>

  <body>
    <%- include('partials/_navbar') %>

    <%- include('partials/_hero') %>

    <main class="all-products">
      <div class="products">
      <% for (const product of products) { %>
        <div class="featured-items">

          <h4>Featured Item</h4>
          <p class="prod-name"> <%= product.vendor_name %> </p>
          <p class="prod-name"> <%= product.name %> </p>
          <img class="product-image" src=<%= product.image %>
          <p> <%= product.category %> </p>
          <p><%= product.price %> </p>
          <button id="more-info">Tell Me More</button>

        </div>

      <% } %>

    </div>

    </main>

    <%- include('partials/_footer') %>

  </body>
</html>
