<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>
    <!-- internal css sheets-->
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <!-- <link rel="stylesheet" href="/styles/navbar.css" type="text/css" /> -->
    <link rel="stylesheet" href="/styles/products.css" type="text/css" />
    <!-- <link rel="stylesheet" href="/styles/footer.css" type="text/css" /> -->
    <!-- <link rel="stylesheet" href="/styles/hero.css" type="text/css" /> -->
    <!-- internal javascript-->

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>

  <body>
    <%- include('partials/_navbar') %>

    <%- include('partials/_hero') %>

    <main>

      <% for (let product of products) { %>

        <div class="products">
          <div class="featured-items">
            <h4>Featured Item</h4>
            <p>Product Name</p>
            <%= product.name %>
            <img class="product-image" src=<%= product.image %> >

            <p>Category</p>
            <%= product.category %>
            <p>Price</p>
            <%= product.price %>
            <button id="more-info">Tell Me More</button>
          </div>

        </div>

      <% } %>

    </main>

      <%- include('partials/_footer') %>

  </body>
</html>
